body {
	font-family: 'Lato', sans-serif;
	width: 800px;
	margin: 40px auto 60px;
}

.color {
	color: #ff6600;
}
.desc-left {
	float: left;
	width: 25%;

}

.desc-right {
	float: left;
	width: 75%;
}

.head-left {
	float: left;
	width: 25%;
	height: 180px;
}

.head-right {
	float: left;
	width: 75%;
	height: 180px;
}

.text-name {
	font-weight: 400;
}

h1 {
	font-size: 32px;
}

h3 {
	font-weight: 400;
}

h4 {
	color: #b0b0b0;
	font-weight: 400;
	font-style: italic;
}