#container {
	font-family: 'Lato', sans-serif;
	width: 800px;
	margin: 40px auto 60px;
}

.desc-left {
	float: left;
	width: 25%;

}

.desc-right {
	float: left;
	width: 75%;
}

.head-left {
	float: left;
	width: 25%;
	height: 200px;
}

.head-right {
	float: left;
	width: 75%;
	height: 200px;
}

.color {
	color: #ff6600;
}

h4 {
	color: #b0b0b0;
	font-weight: 400;
}

.text-name {
	font-weight: 300;
}

.text-title {
	font-weight: 400;
}