#container {
	font-family: sans-serif;
	width: 800px;
	margin: 40px auto 60px;
}

.line-separator {
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #313030;
	width: 100%;
}

.date {
	float: right;
}

#resume-header {
	margin: 0px auto;
	width: 70%;
}

.desc-left {
	float: left;
	width: 25%;

}

.desc-right {
	float: left;
	width: 75%;
}